///// COLOR /////
///// bluegrayscale /////
$black: #171718;
$gray-1: #2E2E33;
$gray-2: #45454A;
$gray-3: #5D5D62;
$gray-4: #74747B;
$gray-5: #8B8B91;
$gray-6: #A2A2A8;
$gray-7: #B9B9BE;
$gray-8: #D1D1D5;
$gray-9: #E8E8EC;
$gray-10: #F6F6F9;
$white: #FFFFFF;

.black {
    color: $black;
}

.gray-1 {
    color: $gray-1;
}

.gray-2 {
    color: $gray-2;
}

.gray-3 {
    color: $gray-3;
}

.gray-4 {
    color: $gray-4;
}

.gray-5 {
    color: $gray-5;
}

.gray-6 {
    color: $gray-6;
}

.gray-7 {
    color: $gray-7;
}

.gray-8 {
    color: $gray-8;
}

.gray-9 {
    color: $gray-9;
}

.gray-10 {
    color: $gray-10;
}

.white {
    color: $white;
}

.transparent {
    color: transparent !important;
}


///// blue /////
$blue-1: #01266F;
$blue-2: #00308D;
$blue-3: #0042C2;
$blue-4: #004CDE;
$blue-5: #1665FF;
$blue-6: #4584FF;
$blue-7: #73A3FF;
$blue-8: #A2C2FF;
$blue-9: #D0E0FF;
$blue-10: #ECF3FF;

.blue-1 {
    color: $blue-1;
}

.blue-2 {
    color: $blue-2;
}

.blue-3 {
    color: $blue-3;
}

.blue-4 {
    color: $blue-4;
}

.blue-5 {
    color: $blue-5;
}

.blue-6 {
    color: $blue-6;
}

.blue-7 {
    color: $blue-7;
}

.blue-8 {
    color: $blue-8;
}

.blue-9 {
    color: $blue-9;
}

.blue-10 {
    color: $blue-10;
}

///// red /////
$red-1: #A71111;
$red-2: #CA2323;
$red-3: #DB2D2D;
$red-4: #E93E3E;
$red-5: #F34E4E;
$red-6: #F67171;
$red-7: #F89595;
$red-8: #FAB8B8;
$red-9: #FDDCDC;
$red-10: #FEF1F1;

.red-1 {
    color: $red-1;
}

.red-2 {
    color: $red-2;
}

.red-3 {
    color: $red-3;
}

.red-4 {
    color: $red-4;
}

.red-5 {
    color: $red-5;
}

.red-6 {
    color: $red-6;
}

.red-7 {
    color: $red-7;
}

.red-8 {
    color: $red-8;
}

.red-9 {
    color: $red-9;
}

.red-10 {
    color: $red-10;
}